body {
  max-width: 100%;
  overflow-x: hidden;
  background: black;
  font-family: "Roboto", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline #fff;
}

#value {
  background: #f0f0f0;
  border-radius: 14px;
  border-color: #000;
  padding: 10px 10px;
}

.container {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0 0 0;
}

.glitch {
  color: white;
  font-size: 80px;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.left-b-align {
  position: absolute;
  bottom: 0;
  left: 0;
}

.left-b-align span {
  font-size: 28px;
  padding: 0 0 0 10px;
}

@keyframes noise-anim {
  0% {
    clip: rect(167px, 9999px, 345px, 0);
  }
  5% {
    clip: rect(73px, 9999px, 378px, 0);
  }
  10% {
    clip: rect(97px, 9999px, 340px, 0);
  }
  15% {
    clip: rect(100px, 9999px, 426px, 0);
  }
  20% {
    clip: rect(170px, 9999px, 369px, 0);
  }
  25% {
    clip: rect(382px, 9999px, 483px, 0);
  }
  30% {
    clip: rect(246px, 9999px, 329px, 0);
  }
  35% {
    clip: rect(10px, 9999px, 137px, 0);
  }
  40% {
    clip: rect(104px, 9999px, 468px, 0);
  }
  45% {
    clip: rect(336px, 9999px, 447px, 0);
  }
  50% {
    clip: rect(254px, 9999px, 45px, 0);
  }
  55% {
    clip: rect(135px, 9999px, 197px, 0);
  }
  60% {
    clip: rect(391px, 9999px, 85px, 0);
  }
  65% {
    clip: rect(99px, 9999px, 457px, 0);
  }
  70% {
    clip: rect(130px, 9999px, 21px, 0);
  }
  75% {
    clip: rect(65px, 9999px, 295px, 0);
  }
  80% {
    clip: rect(3px, 9999px, 346px, 0);
  }
  85% {
    clip: rect(116px, 9999px, 391px, 0);
  }
  90% {
    clip: rect(146px, 9999px, 6px, 0);
  }
  95% {
    clip: rect(465px, 9999px, 432px, 0);
  }
  100% {
    clip: rect(54px, 9999px, 251px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red, -2px 0 blue, -3px 0 green;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2.4s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(192px, 9999px, 256px, 0);
  }
  5% {
    clip: rect(486px, 9999px, 347px, 0);
  }
  10% {
    clip: rect(38px, 9999px, 54px, 0);
  }
  15% {
    clip: rect(490px, 9999px, 179px, 0);
  }
  20% {
    clip: rect(198px, 9999px, 464px, 0);
  }
  25% {
    clip: rect(225px, 9999px, 107px, 0);
  }
  30% {
    clip: rect(7px, 9999px, 143px, 0);
  }
  35% {
    clip: rect(20px, 9999px, 25px, 0);
  }
  40% {
    clip: rect(435px, 9999px, 328px, 0);
  }
  45% {
    clip: rect(275px, 9999px, 403px, 0);
  }
  50% {
    clip: rect(52px, 9999px, 86px, 0);
  }
  55% {
    clip: rect(79px, 9999px, 429px, 0);
  }
  60% {
    clip: rect(477px, 9999px, 463px, 0);
  }
  65% {
    clip: rect(359px, 9999px, 49px, 0);
  }
  70% {
    clip: rect(103px, 9999px, 451px, 0);
  }
  75% {
    clip: rect(201px, 9999px, 413px, 0);
  }
  80% {
    clip: rect(63px, 9999px, 100px, 0);
  }
  85% {
    clip: rect(259px, 9999px, 233px, 0);
  }
  90% {
    clip: rect(181px, 9999px, 167px, 0);
  }
  95% {
    clip: rect(35px, 9999px, 187px, 0);
  }
  100% {
    clip: rect(463px, 9999px, 72px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -1px 0 blue, -2px 0 green, -3px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 2.4s infinite linear alternate-reverse;
}

@media only screen and (max-width: 768px) {
  .glitch {
    width: 320px;
    word-break: break-all;
  }

  .left-b-align {
    margin: auto;
    position: absolute;
    bottom: 0;
  }
}

/*# sourceMappingURL=index.css.map */
