body {
  max-width: 100%;
  overflow-x: hidden;
  background: black;
  font-family: "Roboto", sans-serif;
}

#value {
  background: #f0f0f0;
  border-radius: 14px;
  border-color: #000;
  padding: 10px 10px;
}

.container {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0 0 0;
}

.glitch {
  color: white;
  font-size: 80px;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

@keyframes noise-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(500) + px, 9999px, random(500) + px, 0);
    }
  }
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red, -2px 0 blue, -3px 0 green;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2.4s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(500) + px, 9999px, random(500) + px, 0);
    }
  }
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -1px 0 blue, -2px 0 green, -3px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 2.4s infinite linear alternate-reverse;
}

@media (max-width: 600px) {
  .glitch {
    width: 320px;
    word-break: break-all;
  }
}
