body {
  background: black;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0 0 0;
}

.glitch {
  color: white;
  font-size: 80px;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(125px, 9999px, 106px, 0);
  }
  5% {
    clip: rect(432px, 9999px, 99px, 0);
  }
  10% {
    clip: rect(249px, 9999px, 419px, 0);
  }
  15% {
    clip: rect(497px, 9999px, 227px, 0);
  }
  20% {
    clip: rect(471px, 9999px, 228px, 0);
  }
  25% {
    clip: rect(74px, 9999px, 351px, 0);
  }
  30% {
    clip: rect(193px, 9999px, 315px, 0);
  }
  35% {
    clip: rect(32px, 9999px, 363px, 0);
  }
  40% {
    clip: rect(6px, 9999px, 168px, 0);
  }
  45% {
    clip: rect(79px, 9999px, 61px, 0);
  }
  50% {
    clip: rect(162px, 9999px, 148px, 0);
  }
  55% {
    clip: rect(199px, 9999px, 249px, 0);
  }
  60% {
    clip: rect(403px, 9999px, 448px, 0);
  }
  65% {
    clip: rect(477px, 9999px, 363px, 0);
  }
  70% {
    clip: rect(498px, 9999px, 163px, 0);
  }
  75% {
    clip: rect(495px, 9999px, 343px, 0);
  }
  80% {
    clip: rect(345px, 9999px, 28px, 0);
  }
  85% {
    clip: rect(109px, 9999px, 354px, 0);
  }
  90% {
    clip: rect(101px, 9999px, 391px, 0);
  }
  95% {
    clip: rect(41px, 9999px, 389px, 0);
  }
  100% {
    clip: rect(237px, 9999px, 384px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red, -2px 0 blue, -3px 0 green;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 4s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(148px, 9999px, 396px, 0);
  }
  5% {
    clip: rect(133px, 9999px, 368px, 0);
  }
  10% {
    clip: rect(183px, 9999px, 279px, 0);
  }
  15% {
    clip: rect(185px, 9999px, 372px, 0);
  }
  20% {
    clip: rect(43px, 9999px, 446px, 0);
  }
  25% {
    clip: rect(446px, 9999px, 381px, 0);
  }
  30% {
    clip: rect(59px, 9999px, 316px, 0);
  }
  35% {
    clip: rect(392px, 9999px, 67px, 0);
  }
  40% {
    clip: rect(140px, 9999px, 453px, 0);
  }
  45% {
    clip: rect(342px, 9999px, 310px, 0);
  }
  50% {
    clip: rect(126px, 9999px, 435px, 0);
  }
  55% {
    clip: rect(262px, 9999px, 60px, 0);
  }
  60% {
    clip: rect(145px, 9999px, 319px, 0);
  }
  65% {
    clip: rect(357px, 9999px, 355px, 0);
  }
  70% {
    clip: rect(234px, 9999px, 191px, 0);
  }
  75% {
    clip: rect(2px, 9999px, 57px, 0);
  }
  80% {
    clip: rect(281px, 9999px, 208px, 0);
  }
  85% {
    clip: rect(402px, 9999px, 167px, 0);
  }
  90% {
    clip: rect(289px, 9999px, 78px, 0);
  }
  95% {
    clip: rect(123px, 9999px, 500px, 0);
  }
  100% {
    clip: rect(412px, 9999px, 54px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -1px 0 blue, -2px 0 green, -3px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 4s infinite linear alternate-reverse;
}

/*# sourceMappingURL=index.css.map */
