body {
  max-width: 100%;
  overflow-x: hidden;
  background: black;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline #fff;
}

#value {
  background: #f0f0f0;
  border-radius: 14px;
  border-color: #000;
  padding: 10px 10px;
}

.container {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0 0 0;
}

.glitch {
  color: white;
  font-size: 80px;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.left-b-align {
  position: absolute;
  bottom: 0;
  left: 0;
}

.left-b-align span {
  font-size: 28px;
  padding: 0 0 0 10px;
}

@keyframes noise-anim {
  0% {
    clip: rect(230px, 9999px, 2px, 0);
  }
  5% {
    clip: rect(110px, 9999px, 228px, 0);
  }
  10% {
    clip: rect(497px, 9999px, 253px, 0);
  }
  15% {
    clip: rect(219px, 9999px, 71px, 0);
  }
  20% {
    clip: rect(58px, 9999px, 40px, 0);
  }
  25% {
    clip: rect(477px, 9999px, 257px, 0);
  }
  30% {
    clip: rect(374px, 9999px, 310px, 0);
  }
  35% {
    clip: rect(24px, 9999px, 390px, 0);
  }
  40% {
    clip: rect(49px, 9999px, 117px, 0);
  }
  45% {
    clip: rect(65px, 9999px, 159px, 0);
  }
  50% {
    clip: rect(451px, 9999px, 99px, 0);
  }
  55% {
    clip: rect(217px, 9999px, 471px, 0);
  }
  60% {
    clip: rect(383px, 9999px, 153px, 0);
  }
  65% {
    clip: rect(335px, 9999px, 88px, 0);
  }
  70% {
    clip: rect(185px, 9999px, 154px, 0);
  }
  75% {
    clip: rect(235px, 9999px, 379px, 0);
  }
  80% {
    clip: rect(282px, 9999px, 447px, 0);
  }
  85% {
    clip: rect(315px, 9999px, 454px, 0);
  }
  90% {
    clip: rect(178px, 9999px, 233px, 0);
  }
  95% {
    clip: rect(306px, 9999px, 237px, 0);
  }
  100% {
    clip: rect(420px, 9999px, 283px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red, -2px 0 blue, -3px 0 green;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2.4s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(440px, 9999px, 116px, 0);
  }
  5% {
    clip: rect(177px, 9999px, 211px, 0);
  }
  10% {
    clip: rect(264px, 9999px, 423px, 0);
  }
  15% {
    clip: rect(331px, 9999px, 252px, 0);
  }
  20% {
    clip: rect(357px, 9999px, 356px, 0);
  }
  25% {
    clip: rect(460px, 9999px, 140px, 0);
  }
  30% {
    clip: rect(300px, 9999px, 318px, 0);
  }
  35% {
    clip: rect(471px, 9999px, 203px, 0);
  }
  40% {
    clip: rect(235px, 9999px, 292px, 0);
  }
  45% {
    clip: rect(350px, 9999px, 378px, 0);
  }
  50% {
    clip: rect(321px, 9999px, 46px, 0);
  }
  55% {
    clip: rect(316px, 9999px, 88px, 0);
  }
  60% {
    clip: rect(1px, 9999px, 48px, 0);
  }
  65% {
    clip: rect(171px, 9999px, 348px, 0);
  }
  70% {
    clip: rect(107px, 9999px, 376px, 0);
  }
  75% {
    clip: rect(147px, 9999px, 70px, 0);
  }
  80% {
    clip: rect(451px, 9999px, 29px, 0);
  }
  85% {
    clip: rect(491px, 9999px, 441px, 0);
  }
  90% {
    clip: rect(80px, 9999px, 10px, 0);
  }
  95% {
    clip: rect(252px, 9999px, 120px, 0);
  }
  100% {
    clip: rect(252px, 9999px, 355px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -1px 0 blue, -2px 0 green, -3px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 2.4s infinite linear alternate-reverse;
}

@media only screen and (max-width: 768px) {
  .glitch {
    width: 320px;
    word-break: break-all;
  }

  .left-b-align {
    margin: auto;
    position: absolute;
    bottom: 0;
  }
}

/*# sourceMappingURL=index.css.map */
