body {
  background: black;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0 0 0;
}

.glitch {
  color: white;
  font-size: 80px;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(157px, 9999px, 494px, 0);
  }
  5% {
    clip: rect(416px, 9999px, 242px, 0);
  }
  10% {
    clip: rect(35px, 9999px, 354px, 0);
  }
  15% {
    clip: rect(273px, 9999px, 78px, 0);
  }
  20% {
    clip: rect(175px, 9999px, 302px, 0);
  }
  25% {
    clip: rect(266px, 9999px, 468px, 0);
  }
  30% {
    clip: rect(82px, 9999px, 53px, 0);
  }
  35% {
    clip: rect(105px, 9999px, 314px, 0);
  }
  40% {
    clip: rect(209px, 9999px, 275px, 0);
  }
  45% {
    clip: rect(289px, 9999px, 323px, 0);
  }
  50% {
    clip: rect(68px, 9999px, 195px, 0);
  }
  55% {
    clip: rect(228px, 9999px, 280px, 0);
  }
  60% {
    clip: rect(112px, 9999px, 84px, 0);
  }
  65% {
    clip: rect(469px, 9999px, 61px, 0);
  }
  70% {
    clip: rect(299px, 9999px, 198px, 0);
  }
  75% {
    clip: rect(473px, 9999px, 154px, 0);
  }
  80% {
    clip: rect(147px, 9999px, 44px, 0);
  }
  85% {
    clip: rect(277px, 9999px, 92px, 0);
  }
  90% {
    clip: rect(89px, 9999px, 215px, 0);
  }
  95% {
    clip: rect(233px, 9999px, 82px, 0);
  }
  100% {
    clip: rect(131px, 9999px, 120px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red, -2px 0 blue, -3px 0 green;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 4s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(259px, 9999px, 191px, 0);
  }
  5% {
    clip: rect(401px, 9999px, 41px, 0);
  }
  10% {
    clip: rect(10px, 9999px, 49px, 0);
  }
  15% {
    clip: rect(85px, 9999px, 295px, 0);
  }
  20% {
    clip: rect(81px, 9999px, 340px, 0);
  }
  25% {
    clip: rect(402px, 9999px, 52px, 0);
  }
  30% {
    clip: rect(258px, 9999px, 88px, 0);
  }
  35% {
    clip: rect(27px, 9999px, 124px, 0);
  }
  40% {
    clip: rect(58px, 9999px, 459px, 0);
  }
  45% {
    clip: rect(472px, 9999px, 251px, 0);
  }
  50% {
    clip: rect(249px, 9999px, 206px, 0);
  }
  55% {
    clip: rect(136px, 9999px, 356px, 0);
  }
  60% {
    clip: rect(431px, 9999px, 29px, 0);
  }
  65% {
    clip: rect(194px, 9999px, 151px, 0);
  }
  70% {
    clip: rect(413px, 9999px, 301px, 0);
  }
  75% {
    clip: rect(312px, 9999px, 130px, 0);
  }
  80% {
    clip: rect(31px, 9999px, 458px, 0);
  }
  85% {
    clip: rect(63px, 9999px, 313px, 0);
  }
  90% {
    clip: rect(253px, 9999px, 369px, 0);
  }
  95% {
    clip: rect(476px, 9999px, 345px, 0);
  }
  100% {
    clip: rect(433px, 9999px, 46px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -1px 0 blue, -2px 0 green, -3px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 4s infinite linear alternate-reverse;
}

@media (max-width: 600px) {
  .glitch {
    width: 320px;
    word-break: break-all;
  }
}

/*# sourceMappingURL=index.css.map */
